* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;
    overflow: hidden;
    background-image: url(../photos/kelly-sikkema-e0djo08-Ev8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header {
    /* background-image: url(../photos/kelly-sikkema-e0djo08-Ev8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    /* background-color: bisque; */
}

.main {
    display: flex;
    padding: 50px;
    height: 80vh;
}

.generator {
    background-color: black;
    font-size: larger;
    height: 5vh;
    color: white;
    text-align: center;
    border: 1px solid;
    width: auto;
    margin-left: 3vw;
    cursor: pointer;
    border-radius: 5px;
}

.note {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    /* grid-template-rows: repeat(auto-fill, minmax(100%, max-content)); */
    color: white;
    border: 1px solid white;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1;
    width: 100%;
    background-color: red;
}


/* #tache_1 {
    z-index: index 0;
} */

.generator:hover {
    background-color: white;
}

.column {
    border: 1px solid white;
    background-image: url(../photos/mylogo-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
    margin: 1%;
}

.titre {
    text-align: center;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid burlywood;
    height: 8%;
}

.task {
    width: 100%;
    height: 92%;
}

form {
    display: flex;
    flex-direction: column;
}

.modal {
    /* display: flex; */
    background-color: grey;
    /* padding: 1%; */
    /* height: auto; */
    left: 40%;
    margin-top: 15%;
    width: 20%;
    color: white;
    /* border: 1px solid white; */
    position: absolute;
    top: 0;
    display: none;
}

.temps {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* margin: 1rem; */
}

textarea {
    cursor: pointer;
}

textarea:hover {
    font-weight: bold;
}

.exit {
    position: absolute;
    right: 0;
}

.exit:hover {
    /* font-size: 1.5rem; */
    background-color: blue;
}

.modal-head {
    /* text-align: center; */
    height: 20%;
    background-color: lightblue;
}


/* button {
    /* margin-left: 4%; */


/* width: 90%; */


/* margin: 1rem; */


/* } */